<!-- Модификаторы https://metanit.com/web/vuejs/3.5.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        a:hover {
            cursor: pointer;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <br />
    <div id="app" class="col-md-4">

        <input type="text" v-model.lazy="name" class="form-control" />
        <span>Input: {{name}}</span>
        <br />
        <input v-model.lazy.number="age" type="number" />
        <span>Input age: {{age}}</span>
    </div>

    <script>
        var vm1 = new Vue({
            el: "#app",
            data: {
                age: 0
            }
        });
    </script>
</body>
</html>