<!-- Props https://metanit.com/web/vuejs/4.5.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        a:hover {
            cursor: pointer;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <div id="app">
        <br />
        <counter></counter>
        <counter></counter>
    </div>


    <script>
        var data = {
            header: 'Counter Program',
            count: 0
        };
        Vue.component('counter', {
            data: function () {
                return data
            },
            template: `<div><h2>{{header}}</h2>
                 <button v-on:click="increase">- </button>
                <button v-on:click="increase">+</button>
                <span>{{count}}</span>
            </div>`,
            methods: {
                increase: function () {
                    this.count++;
                }
            }
        });
        new Vue({
            el: "#app"
        });
    </script>
</body>
</html>