<!-- Слоты с ограниченной областью видимости https://metanit.com/web/vuejs/5.3.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        a:hover {
            cursor: pointer;
        }

        tr, td {
            padding: 10px;
        }

        .userdetails {
            border-bottom: 1px solid #888;
        }

        .user {
            font-size: 14px;
            font-family: Verdana;
            padding: 6px;
        }
    </style>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <div id="app">
        <br />
        <h2>Slots in Vue.js</h2>
        <userlist :users="users">
            <li slot-scope="props" class="user">
                {{props.username}}
            </li>
        </userlist>

    </div>



    <script>
        Vue.component('userlist', {
            props: ["users"],
            template: ` <ul>
                                   <slot v-for="user in users" :username="user"></slot>
                               </ul>`
        });
        new Vue({
            el: '#app',
            data: {
                users: ['Toma', 'Sasha', 'Kasha']
            }
        });
    </script>
</body>
</html>