<!-- Работа с объектом Vue https://metanit.com/web/vuejs/1.11.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        .region {
            background-color: #999;
            width: 100px;
            height: 100px;
            display: inline-block;
            margin: 10px;
        }

        .active {
            background-color: red;
        }

        .bounded {
            border: 5px solid green;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }

        .blue {
            background-color: blue;
        }

        .green {
            background-color: green;
        }

        .big {
            width: 100px;
            height: 100px;
        }

        .small {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <br />
    <div id="app1">
        <input type="text" v-model="name" />
        <input type="number" v-model="age" />
        <p>{{name}} - {{age}} - {{position}}</p>
    </div>

    <script>
        var vm1 = new Vue({
            el: '#app1',
            data: { name: 'Tom', age: 34, position: "admin" }
        });
        // определение нового метода
        vm1.setAge = function (value) {
            vm1.age = value;
            Console.log(value)
        }
        setTimeout(function () {
            vm1.position = "moderator";
        }, 3000);
    </script>
</body>
</html>