<!-- Директива v-show https://metanit.com/web/vuejs/2.2.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />

</head>
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <br />
    <div id="app">
        <ul>
            <li v-for="(num, index) in nums">[{{index+1}}] === {{num.value}} -- {{num.name}}
            <br />
            <p v-for="(value,key) in num">Property name - {{key}}; Value - {{value}}</p>
            </li>
        </ul>
    </div>

    <script>
        var vm1 = new Vue({
            el: "#app",
            data: {
                nums: [
                    {value:1,name:'One'},
                    { value:2, name:'Two'},
                    { value:3, name:'Three'}
                ]
            }
        });
    </script>
</body>
</html>