<!--Закончил на Vue-cli https://metanit.com/web/vuejs/7.3.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        a:hover {
            cursor: pointer;
        }

        tr, td {
            padding: 10px;
        }

        .userdetails {
            border-bottom: 1px solid #888;
        }

        .user {
            font-size: 14px;
            font-family: Verdana;
            padding: 6px;
        }
    </style>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <div id="app">
        {{message | capitalize}}

    </div>


    <script>
        Vue.filter('capitalize', function (value) {
            var capitalFirst = value.charAt(0).toUpperCase();
            var noCaseTail = value.slice(1, value.lenght)
            return capitalFirst + noCaseTail;
        });

        var vue = new Vue({
            el: '#app',
            data: {
                message: "hello word!"
            }
        })
    </script>
</body>
</html>