<!-- Миксины https://metanit.com/web/vuejs/4.14.php -->
<!DOCTYPE html>
<html>
<head>
    <title>Learn Vue.js</title>
    <meta charset="utf-8" />
    <style>
        a:hover {
            cursor: pointer;
        }

        tr, td {
            padding: 10px;
        }

        .userdetails {
            border-bottom: 1px solid #888;
        }
    </style>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Vue.js")
<body>
    <div id="app">
        <br />
        <h2>Миксины</h2>
        <light></light>
        <enabled></enabled>
    </div>



    <script>
        var toggleMixin = {
            data: function () {
                return { state: true, on: "ON", off: "OFF" }
            },
            methods: {
                toggle: function () {
                    this.state = !this.state;
                }
            },
            created() {
                console.log("Mixin has been created");
                this.$options.template = `<div>` + this.$options.template +
                    `<button v-on:click="toggle" v-show="state">{{on}}</button>
                        <button v-on:click="toggle" v-show="!state">{{off}}</button></div>`
            }
        };
        Vue.component('light', {
            template:`<h3>{{header}}</h3>`,
            mixins: [toggleMixin],
            computed: {
                header() {
                    return this.state == true ? "Свет включен" : "Свет выключен";
                }
            },
            created() {
                console.log("Light component has been created");
            }
        });
        Vue.component('enabled', {
            template: `On function`,
            mixins: [toggleMixin],
            created() {
                console.log("enabled created");
            }
        });
        new Vue({
            el: "#app"
        });
    </script>
</body>
</html>